<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
    <header>
        <nav class="bg-indigo-500 text-white py-4">
            <div class="flex justify-between items-center container mx-auto">
                <div class="logo text-xl font-extrabold">
                    ShopHere
                </div>
                <ul class="flex items-center gap-5 font-semibold">
                    <li><a class="hover:text-yellow-200" href="/">Home</a></li>
                    <li><a class="hover:text-yellow-200" href="/products">Products</a></li>
                    <li><a class="hover:text-yellow-200" href="/cart">Cart</a></li>
                    <li><a class="hover:text-yellow-200" href="/admin/add-product">Add Product</a></li>
                    <li><a class="hover:text-yellow-200" href="/admin/admin-products">Admin Products</a></li>
                </ul>
            </div>
        </nav>
    </header>