<%- include('./includes/head.ejs') %>
    <h1>Add Product</h1>
    <form class="form" action="/add_product" method="post">
        <div class="form-input">
            <label for="prodName">Product Name</label>
            <input type="text" name="prodName" id="prodName">
        </div>
        <button type="submit">Submit</button>
    </form>
    <%- include('./includes/foot.ejs') %>