:root{
    --peach-orange: #ffcc9c;
    --light-pink: #ffa6a6;
    --heliotrope: #be6bff;
    --carnation-pink: #fea5cf;
    --han-purple: #6138ff;
}

.form{
    width: 20rem;
    max-width: 90%;
    margin: 0 auto;
}

.form-input input, .form-input label{
    display: block;
    width: 90%;
    margin: 0.4rem 0;
}

.form-input label{
    font-size: large;
    font-weight: 600;
}

.form-input input{
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border:2px solid var(--han-purple);
    color: var(--han-purple);
    font-weight: 700;
    font-size: medium;
}

.form button{
    background-color: var(--heliotrope);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: medium;
    margin: 0.4rem 0;
}